body.rift{
  background-image: url("../img/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  .map{
    height: 770px;
    width: 770px;
  }
}

.cd {
  &#bblue{
    bottom: 55.45%;
    left: 29.27%;
  }
  &#tblue{
    right: 26.94%;
    top: 52.84%;
  }

  &#dragon{
    bottom: 33.61%;
    right: 33.91%;
  }

  &#bgolems{
    bottom: 21.18%;
    left: 57.29%;
  }
  &#tgolems{
    right: 54.45%;
    top: 17.88%;
  }

  &#nashor{
    left: 37.07%;
    top: 31.17%;
  }

  &#bred{
    bottom: 30.99%;
    right: 47.29%;
  }
  &#tred{
    left: 48.95%;
    top: 26.82%;
  }

  &#bwolves{
    bottom: 45.25%;
    left: 31.6%;
  }
  &#twolves{
    right: 29.08%;
    top: 41.63%;
  }

  &#bwraiths{
    bottom: 39.02%;
    right: 51.44%;
  }
  &#twraiths{
    left: 54.15%;
    top: 35.87%;
  }

  &#chaostower1{
    right: 13.43%;
    top: 23.84%;
  }
  &#chaostower2{
    right: 24.72%;
    top: 21.8%;
  }
  &#chaostower3{
    right: 26.48%;
    top: 10.09%;
  }

  &#ordertower1{
    bottom: 28.33%;
    left: 15.3%;
  }
  &#ordertower2{
    bottom: 26.16%;
    left: 26.47%;
  }
  &#ordertower3{
    bottom: 14.04%;
    left: 28.31%;
  }
}